@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: white;
  color: black;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* MOBILE */
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  body {
    font-size: 16px;
  }
}